<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello ' + ${name} + '!'" />

<form action="/weatherForLocation" method="POST">
    <input type="text" name="surname" id="surname-id">

    <select name="locationSelected" id="locationSelection">
        <th:block th:each="location : ${locations}">
            <option th:text="${location}" />
        </th:block>
    </select>
    <input type="submit" value="Submit" >
</form>
</body>
</html>